<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CodeID</key>
		<integer>506</integer>
		<key>Key</key>
		<string>0</string>
		<key>Value</key>
		<string>中国人民银行</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>507</integer>
		<key>Key</key>
		<string>1</string>
		<key>Value</key>
		<string>中国银行</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>508</integer>
		<key>Key</key>
		<string>2</string>
		<key>Value</key>
		<string>中国建设银行</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>509</integer>
		<key>Key</key>
		<string>3</string>
		<key>Value</key>
		<string>中国工商银行</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>510</integer>
		<key>Key</key>
		<string>4</string>
		<key>Value</key>
		<string>中国农业银行</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>511</integer>
		<key>Key</key>
		<string>5</string>
		<key>Value</key>
		<string>中国邮政储蓄银行</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>512</integer>
		<key>Key</key>
		<string>6</string>
		<key>Value</key>
		<string>中国农业发展银行</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>513</integer>
		<key>Key</key>
		<string>7</string>
		<key>Value</key>
		<string>农村信用社</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>514</integer>
		<key>Key</key>
		<string>8</string>
		<key>Value</key>
		<string>招商银行</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>515</integer>
		<key>Key</key>
		<string>9</string>
		<key>Value</key>
		<string>交通银行</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>516</integer>
		<key>Key</key>
		<string>10</string>
		<key>Value</key>
		<string>汇丰银行</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>517</integer>
		<key>Key</key>
		<string>11</string>
		<key>Value</key>
		<string>广发银行</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>518</integer>
		<key>Key</key>
		<string>12</string>
		<key>Value</key>
		<string>恒生银行</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>519</integer>
		<key>Key</key>
		<string>13</string>
		<key>Value</key>
		<string>花旗银行</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>520</integer>
		<key>Key</key>
		<string>14</string>
		<key>Value</key>
		<string>华夏银行</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>521</integer>
		<key>Key</key>
		<string>15</string>
		<key>Value</key>
		<string>上海浦发银行</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>522</integer>
		<key>Key</key>
		<string>16</string>
		<key>Value</key>
		<string>兴业银行</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>523</integer>
		<key>Key</key>
		<string>17</string>
		<key>Value</key>
		<string>中国光大银行</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>524</integer>
		<key>Key</key>
		<string>18</string>
		<key>Value</key>
		<string>深圳发展银行</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>525</integer>
		<key>Key</key>
		<string>19</string>
		<key>Value</key>
		<string>中国民生银行</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>526</integer>
		<key>Key</key>
		<string>20</string>
		<key>Value</key>
		<string>中信银行</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>527</integer>
		<key>Key</key>
		<string>21</string>
		<key>Value</key>
		<string>福建海峡银行</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>528</integer>
		<key>Key</key>
		<string>22</string>
		<key>Value</key>
		<string>中国平安银行</string>
	</dict>
</array>
</plist>
