<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CodeID</key>
		<integer>25</integer>
		<key>Key</key>
		<string>1</string>
		<key>Value</key>
		<string>小学</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>26</integer>
		<key>Key</key>
		<string>2</string>
		<key>Value</key>
		<string>初中</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>27</integer>
		<key>Key</key>
		<string>3</string>
		<key>Value</key>
		<string>高中</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>28</integer>
		<key>Key</key>
		<string>4</string>
		<key>Value</key>
		<string>中技</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>29</integer>
		<key>Key</key>
		<string>5</string>
		<key>Value</key>
		<string>中专</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<string>30</string>
		<key>Key</key>
		<string>6</string>
		<key>Value</key>
		<string>大专</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<string>31</string>
		<key>Key</key>
		<string>7</string>
		<key>Value</key>
		<string>本科</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<string>32</string>
		<key>Key</key>
		<string>8</string>
		<key>Value</key>
		<string>硕士</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<string>33</string>
		<key>Key</key>
		<string>9</string>
		<key>Value</key>
		<string>MBA</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<string>34</string>
		<key>Key</key>
		<string>10</string>
		<key>Value</key>
		<string>EMBA</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<string>35</string>
		<key>Key</key>
		<string>11</string>
		<key>Value</key>
		<string>博士</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<string>36</string>
		<key>Key</key>
		<string>100</string>
		<key>Value</key>
		<string>其他</string>
	</dict>
</array>
</plist>
