<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CodeID</key>
		<integer>2062</integer>
		<key>Items</key>
		<string></string>
		<key>Key</key>
		<string>1000</string>
		<key>ParentID</key>
		<string></string>
		<key>Value</key>
		<string>互联网·电子商务</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>2063</integer>
		<key>Items</key>
		<string></string>
		<key>Key</key>
		<string>1001</string>
		<key>ParentID</key>
		<string></string>
		<key>Value</key>
		<string>鞋业、服装纺织</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>2064</integer>
		<key>Items</key>
		<string></string>
		<key>Key</key>
		<string>1002</string>
		<key>ParentID</key>
		<string></string>
		<key>Value</key>
		<string>房地产开发</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>2065</integer>
		<key>Items</key>
		<string></string>
		<key>Key</key>
		<string>1003</string>
		<key>ParentID</key>
		<string></string>
		<key>Value</key>
		<string>快速消费品(食品,饮料,化妆品)</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>2066</integer>
		<key>Items</key>
		<string></string>
		<key>Key</key>
		<string>1004</string>
		<key>ParentID</key>
		<string></string>
		<key>Value</key>
		<string>批发·零售、贸易</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>2067</integer>
		<key>Items</key>
		<string></string>
		<key>Key</key>
		<string>1005</string>
		<key>ParentID</key>
		<string></string>
		<key>Value</key>
		<string>IT计算机</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>2068</integer>
		<key>Items</key>
		<string></string>
		<key>Key</key>
		<string>1006</string>
		<key>ParentID</key>
		<string></string>
		<key>Value</key>
		<string>通信运营、电信增值服务</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>2069</integer>
		<key>Items</key>
		<string></string>
		<key>Key</key>
		<string>1007</string>
		<key>ParentID</key>
		<string></string>
		<key>Value</key>
		<string>网络游戏</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>2070</integer>
		<key>Items</key>
		<string></string>
		<key>Key</key>
		<string>1008</string>
		<key>ParentID</key>
		<string></string>
		<key>Value</key>
		<string>电子、半导体、仪器仪表</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>2071</integer>
		<key>Items</key>
		<string></string>
		<key>Key</key>
		<string>1009</string>
		<key>ParentID</key>
		<string></string>
		<key>Value</key>
		<string>会计·审计</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>2072</integer>
		<key>Items</key>
		<string></string>
		<key>Key</key>
		<string>1010</string>
		<key>ParentID</key>
		<string></string>
		<key>Value</key>
		<string>金融证券、银行保险</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>2073</integer>
		<key>Items</key>
		<string></string>
		<key>Key</key>
		<string>1011</string>
		<key>ParentID</key>
		<string></string>
		<key>Value</key>
		<string>家具·家电·工艺品·玩具</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>2074</integer>
		<key>Items</key>
		<string></string>
		<key>Key</key>
		<string>1012</string>
		<key>ParentID</key>
		<string></string>
		<key>Value</key>
		<string>汽车、机械·设备·重工</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>2075</integer>
		<key>Items</key>
		<string></string>
		<key>Key</key>
		<string>1013</string>
		<key>ParentID</key>
		<string></string>
		<key>Value</key>
		<string>生物制药、医疗卫生</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>2076</integer>
		<key>Items</key>
		<string></string>
		<key>Key</key>
		<string>1014</string>
		<key>ParentID</key>
		<string></string>
		<key>Value</key>
		<string>广告公关、会展、影视媒体</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>2077</integer>
		<key>Items</key>
		<string></string>
		<key>Key</key>
		<string>1015</string>
		<key>ParentID</key>
		<string></string>
		<key>Value</key>
		<string>文字、印刷、出版、包装</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>2078</integer>
		<key>Items</key>
		<string></string>
		<key>Key</key>
		<string>1016</string>
		<key>ParentID</key>
		<string></string>
		<key>Value</key>
		<string>建筑工程、物业、商业中心</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>2079</integer>
		<key>Items</key>
		<string></string>
		<key>Key</key>
		<string>1017</string>
		<key>ParentID</key>
		<string></string>
		<key>Value</key>
		<string>艺术设计、家居设计装潢</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>2080</integer>
		<key>Items</key>
		<string></string>
		<key>Key</key>
		<string>1018</string>
		<key>ParentID</key>
		<string></string>
		<key>Value</key>
		<string>中介服务</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>2081</integer>
		<key>Items</key>
		<string></string>
		<key>Key</key>
		<string>1019</string>
		<key>ParentID</key>
		<string></string>
		<key>Value</key>
		<string>专业服务(咨询，人力资源，法律)</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>2082</integer>
		<key>Items</key>
		<string></string>
		<key>Key</key>
		<string>1020</string>
		<key>ParentID</key>
		<string></string>
		<key>Value</key>
		<string>教育·培训、学术科研</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>2083</integer>
		<key>Items</key>
		<string></string>
		<key>Key</key>
		<string>1021</string>
		<key>ParentID</key>
		<string></string>
		<key>Value</key>
		<string>餐饮业、娱乐、酒店旅游</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>2084</integer>
		<key>Items</key>
		<string></string>
		<key>Key</key>
		<string>1022</string>
		<key>ParentID</key>
		<string></string>
		<key>Value</key>
		<string>生活服务、美容保健</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>2085</integer>
		<key>Items</key>
		<string></string>
		<key>Key</key>
		<string>1023</string>
		<key>ParentID</key>
		<string></string>
		<key>Value</key>
		<string>交通运输、物流</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>2086</integer>
		<key>Items</key>
		<string></string>
		<key>Key</key>
		<string>1024</string>
		<key>ParentID</key>
		<string></string>
		<key>Value</key>
		<string>航天航空、电力水利、化工能源</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>2087</integer>
		<key>Items</key>
		<string></string>
		<key>Key</key>
		<string>1025</string>
		<key>ParentID</key>
		<string></string>
		<key>Value</key>
		<string>环保、农业·渔业·林业</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>2088</integer>
		<key>Items</key>
		<string></string>
		<key>Key</key>
		<string>1026</string>
		<key>ParentID</key>
		<string></string>
		<key>Value</key>
		<string>多元化业务集团公司</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>2089</integer>
		<key>Items</key>
		<string></string>
		<key>Key</key>
		<string>1027</string>
		<key>ParentID</key>
		<string></string>
		<key>Value</key>
		<string>政府、非盈利机构</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>2090</integer>
		<key>Items</key>
		<string></string>
		<key>Key</key>
		<string>1028</string>
		<key>ParentID</key>
		<string></string>
		<key>Value</key>
		<string>其他行业</string>
	</dict>
	<dict>
		<key>CodeID</key>
		<integer>2465</integer>
		<key>Items</key>
		<string></string>
		<key>Key</key>
		<string>1029</string>
		<key>ParentID</key>
		<string></string>
		<key>Value</key>
		<string>原材料、加工</string>
	</dict>
</array>
</plist>
